[Oo]bj/
[Bb]in/
*.suo
*.user
artifacts/
*.vspscc
*.vssscc
*.bak
_ReSharper.*
*.config
!packages.config
!Global.config
!packages.config
*.ReSharper
*.orig
dependencies
artifact
*.completed
*.dbgcm
*ncrunch*
__pycache__/
*.py[cod]
ENV/
configuration.py
*.sublime-workspace
*.tar.gz
environment.ini
/src/CommonAssemblyInfo.cs
*ncrunch*
*crunch*.local.xml
